* {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;;
    margin: 0;
    padding: 0;
}

body, html {
    background-size: cover;
    background-image: url("../img/register/roudao.png");
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.outer {
    margin: 14%;
    width: 50%;
    height: 50%;
    background-color: rgba(232,205,232,0.65);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.up {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.outer .left {
    width: 50%;
    text-align: right;
    color: #5b1858;
    height: 80%;
    border-right: 2px solid rgba(255, 255, 255, 0.66);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.outer .right {
    width: 50%;
    height: 80%;
    border-left: 2px solid rgba(255, 255, 255, 0.66);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.outer .left div {
    font-size: 16px;
    margin: 0 auto;
}

input {
    margin: 0 auto;
    padding-left: 10px;
    height: 30px;
    width: 70%;
    outline: none;
    border-style: none;
    border-radius: 10px;
}

.outer .down button {
    color:rgba(255, 255, 255, 0.78);
    background-color:rgba(0, 0, 0, 0.5);
    outline: none;
    border-style: none;
    border-radius: 25px;
    height: 40px;
    width: 100px;
    transition: all 0.3s ease 0s;
}

button:hover {
    cursor: pointer;
}

.outer .down {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.outer .down button:hover {
    color: rgba(0, 0, 0, 0.9);
    background-color:rgba(255,255,255,0.8);
}